@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Chivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    font-family: 'Barlow';
    width: 1440px;
    height: 900px;
}

#logo{
    margin-top: 50px;
    position: absolute;
    margin-left: 20px;
}

.horizontal_line {
    width: 473px;
    height: 5px;
    border-top: 1px solid #979797;
    line-height: 80%;
    position: absolute;
    margin-top: 80px;
    margin-left: 120px;
    z-index: 9;
}

.rectangle{
    width: 1000px;
    height: 80px;
    margin-left: 500px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.077);
    backdrop-filter: blur(10px);
    position: absolute;
    text-align: center;

}

.navbar{
    position: absolute;
    z-index: 9;
    margin-top: 25px;
    padding-left: 150px;

}
.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 60px;
    font-size: 16px;

}

#number{
    color:#FFFFFF;
 }

 #number-active{
    color: #707074;
    font-weight: 700;
 }

#dest{
    position: absolute;
    color: #FFFFFF;
    margin-top: 200px;
    margin-left: 120px;
    font-size: 28px;
}

#dest-img{
    position: absolute;
    margin-top: 340px;
    margin-left: 160px; 
}

#sub-navbar{
    margin-top: 345px;
    margin-left: 830px;
    position: absolute;
    padding-left: 1px;

}

#sub-navbar a{

    text-decoration: none;
    color: #D0D6F9;
    font-size: 16px;

}

#active-dest{
    margin-top: 390px;
    margin-left: 830px;
    color: #FFFFFF;
    position: absolute;
    font-size: 100px;
    font-family: 'Bellefair';
}

#main-info{
    position: absolute;
    color: #D0D6F9;
    margin-top: 520px;
    margin-left: 830px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Barlow';

}

.bottom_line{
    position: absolute;
    width: 444px;
    margin-top: 30px;
    height: 5px;
    border-top: 1px solid #979797;
    line-height: 80%;

}

#distance{
    margin: 0;
    position: absolute;
    margin-top: 55px;
    font-size: 14px;
}

#time{
    margin-left: 190px;
    position: absolute;
    margin-top: 55px;
    font-size: 14px;
}
em{
    font-size: 28px;
    color: #FFFFFF;
}